.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0, 0.4);
}

.modal_content{
    padding: 25px;
    border-radius: 20px;
    background-color: white;
    min-width: 250px;
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}