@import './vars';


.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 25px;
    margin-top: 10px;
}

.footer-info{
    list-style-type: none;

    li{
        padding: 5px 0px;
    }
}

.inst-link{
    transition: color 0.2s ease-in; 
}

.inst-link.dark:hover{
    color: $secondary-dark;
}

.inst-link.light:hover{
    color: $secondary-light;
}