<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Bag</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index/styles.css') }}">
    <script src="{{ url_for('static', filename='js/carousel.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}" defer></script>
    <script type='module' src="{{ url_for('static', filename='js/node_modules/axios/index.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/interceptor.js') }}" defer></script>
</head>
<body class="dark">
    <div class="wrapper">
        
        {% include 'layout/nav.html' %}
        
        <main>
            <div class="bag dark">
                <div class="card-text">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus blanditiis, a inventore excepturi porro aut doloribus maxime veniam velit explicabo illum? Dolore fugiat enim reiciendis</p>
                    <a href="#"><button class="more-btn dark">Learn more</button></a>
                </div>
                <img src="{{ url_for('static', filename='images/bag.jpg') }}" alt="bag" class="bag-image">
            </div>

            <div class="sweater dark">
                <div class="sweater-text">
                    <h1>New produсt</h1>
                    <p>New Kate's handmade product is sweaters for cats.
                        <a href="product" class="order-link dark">Order now!</a>
                    </p>
                </div>

                <div class="carousel">
                    <div class="carousel-imgs">
                        {% macro img_path(type, img_url) -%}
                            /static/images/{{type}}/{{img_url}}
                        {%- endmacro %}
                        {% for sweater in sweaters %}
                        <img src="{{ img_path(sweater.type, sweater.img_url) }}" alt="cat in sweater" class="carousel-image {%- if loop.first %} active{%- endif %}">
                        {% endfor %}
                    </div>
                    <button class="carousel-btn dark btn-left"><</button>
                    <button class="carousel-btn dark btn-right">></button>
                </div>
            </div>
        </main>

        {% include 'layout/footer.html' %}
    </div>
</body>
</html>