<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product/styles.css') }}">
    <script src="{{ url_for('static', filename='js/product.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}" defer></script>
</head>
<body class="dark">
    <div class="wrapper">
        {% include 'layout/nav.html' %}

        <main>
            <div class="content dark">
                <h1 class="product-title"> Handmade cute sweater for cat</h1>
                <div class="image-container">
                    <img src="static/images/sweater/{{sweaters[0].img_url}}" alt="cat in sweater" class="product-main-img">
                    <form class="product-info dark">
                        <div class="stls-container">
                            {% macro img_path(type, img_url) -%}
                            /static/images/{{type}}/{{img_url}}
                            {%- endmacro %}
                            {% for sweater in sweaters %}
                            <label>
                                <input type="radio" id="style{{loop.index}}" name="swtr-stl" class="swtr-stl" {%- if loop.first %} checked{%- endif %}>
                                <img src="{{ img_path(sweater.type, sweater.img_url) }}" alt="cat in sweater" class="product-image dark">
                            </label>
                            {% endfor %}
                        </div>
                        <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla magnam tempora similique beatae, maiores officiis excepturi eligendi iusto fugiat eveniet, suscipit cupiditate quaerat voluptates dignissimos repudiandae accusantium. Deserunt, cum doloremque.</p>
                        <div class="price">
                            <label>100$</label>
                            <input type="button" class="order-btn dark" value="Add to cart">
                        </div>
                    </form>
                </div>
            </div>
        </main>

        {% include 'layout/footer.html' %}
    </div>
</body>
</html>