@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-dark: #e2b58d;
$secondary-dark: darken($primary-dark, 25%);
$darkback: #161616;
$black: #000000ff;

$primary-light: #6E85B7;
$secondary-light: darken($primary-light, 25%);
$lightback: #F8F9D7;
$white: #fbfaf5ff;

$breakpoint1400: 1399.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.light{
    color: $primary-light;
    background-color: $lightback;
}

.dark{
    color: $primary-dark;
    background-color: $darkback;
}

body{
    background-image: url(../../images/back.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

    
    @media screen and (max-width: $breakpoint768) {
        background-image: none;
    }
}

body.dark{
    background-color: $black;
}

body.light{
    background-color: $white;
}

.wrapper{
    width: 70%;
    margin: auto;

    @media screen and (max-width: $breakpoint768) {
        width: 100%;
    }
}

main > *{
    margin-top: 10px;
}

@import "nav";
@import "footer";
