.nav-bar{
    display: flex;
    list-style-type: none;
    justify-content: left;
    align-items: center;
    height: 80px;
    padding: 20px 40px; 

    @media screen and (max-width: $breakpoint480) {
        padding: 20px 30px;
    }
}

.nav-item{
    float: left;
    padding: 0px 20px;
    font-size: 24px;

    a{
        transition: color 0.2s ease-in;
        color: inherit;
    }

    @media screen and (max-width: $breakpoint480) {
        font-size: 18px;
        padding: 0px 10px;
    }
}

.nav-item.dark:hover{
    color: $secondary-dark;
}

.nav-item.light:hover{
    color: $secondary-light;
}

.theme-svg{
    display: flex;
    margin-left: auto;
    align-items: flex-end;
}

.theme-chng{
    width: 30px;
    height: 30px;

    @media screen and (max-width: $breakpoint480) {
        width: 25px;
        height: 25px;
    }
}